.home-styles{
    width: 100%;
    height: 100%;
}
.home-item{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.home-item-left{
    width: 100%;
    height: 100%;

}
.home-item-right{
    width: 100%;
    height: 100%;

}
.home-flex{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    
    width: 100%;
    height: 100%;
}