.bg-css{
    background-image: url("./images/bg/default_bg.jpg"); 
    background-size: cover;
}

.bg-content{
    background-color: rgb(200, 200, 200); 
    width: 100%;
    height: 100%;
}

.home-content{
    align-content: center;
    

}